@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: url("/Glow2.svg") #151029;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: 1;
  position: relative;
  color: white;
  &::before {
    background-image: url("/GroupLines.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }
  &::after {
    background-image: url("/Mesh.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }
  @media (max-width: 768px) {
    padding: 2rem 0;
  }

:root {
  --gap: 1rem;
  --color-grey-gradient-start: #272a2a;
  --color-grey-gradient-end: #141414;
  --color-grey-24: #3b4040;
  --border-radius-44: 44px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
}